<section>
    <h1 class="text-center text-main my-2">
        forgotpassword works
    </h1>

   @if (step === 1) {
    <form [formGroup]="verifyemail" class="bg-main-light rounded-4 shadow p-lg-4  " (ngSubmit)="verifyemailSubmit()">
        <div class="my-2">
            <label for="email">email</label>
            <input formControlName="email" type="email" id="email" class="form-control">
        </div>
    
        <button [disabled]="verifyemail.invalid" class="btn btn-main"> Verify Email</button>
    </form>
   }
    
   @else if (step === 2) {

    <form [formGroup]="verifycode" class="bg-main-light rounded-4 shadow p-lg-4"  (ngSubmit)="verifycodeSubmit()">
        <div class="my-2">
            <label for="resetCode">email</label>
            <input formControlName="resetCode" type="text" id="resetCode" class="form-control">
        </div>
    
        <button [disabled]="verifycode.invalid" class="btn btn-main"> Verify Code</button>
    </form>
   }
    
    


    @else if (step === 3) {
        <form [formGroup]="resetPassword" class="bg-main-light rounded-4 shadow p-lg-4" (ngSubmit)="verifyPassordSubmit()">
            <div class="my-2">
               <label for="email">email</label>
               <input formControlName="email" type="email" id="email" class="form-control">
           </div>
           
           
           
           <div class="my-2">
               <label for="newPassord">newPassord</label>
               <input formControlName="newPassord" type="password" id="newPassord" class="form-control">
           </div>
       
           <button [disabled]="resetPassword.invalid" class="btn btn-main"> Verify password</button>
      </form>
    }

    


</section>