<!-- <p>categories works!</p>
<p> Count : {{counter()}}</p>
<p> Name : {{userName()}}</p>

<button (click)="changeName()" class="btn btn-info" >change Name</button>
&nbsp;
<button (click)="changeCounter()" class="btn btn-info" >change count</button>
 -->

 <section >
    <div class="container">
    <div class="row g-3 my-lg-5 ">
        @for (cat of categoriesList.slice(0,48) ; track cat._id) {
        <div class="col-md-4">

            <div class="product p-2 ">
             
                    <img [src]="cat.image"  height="400px" class="w-100" [alt]="cat.name">


                    <div class="d-flex justify-content-center align-items-center my-3 bg-success-subtle">

                     <h3 class="h6 text-main fs-2 fw-bold">{{cat.name}}</h3>
                        
                    </div>
                


            </div>
        </div>
        }
    </div>
    </div>
 </section>